.iconset img {width:30px ; height:30px;}

.fa-search { cursor:pointer;color:black!important;margin-top:40px;position:relative;

}

.fa-search:hover { color:red!important;

}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    }


.google-search{

      color:black!important;z-index:100!important;

    }

#google_translate_element {

padding:10px;


}


.body-class {

 
  background-color:#f0f0f1;

  font-family: "Trebuchet"!important;

}



h1,h2,h3,h4,h5,h6 {
    font-family: "Tahoma"!important;font-weight:200!important;
}



p {
    font-family: "Trebuchet"!important;
}

.about-us-button{

  float:right;

  background-color: #3399ff !important;

  border:white thin solid;

  color:white!important;


}


.about-us-home-page-col {

background-color:#3399ff;

padding:10px;
}


.about-us-home-page-col h1{

font-weight:300;
color:white;
padding:30px 30px 0px 30px;

}


.about-us-home-page-col p{

font-size:120%;
font-weight:bold;
color:white;
padding:30px;

}


.services-us-home-page-col{

background-color:#f0f0f1;


}

.services-us-home-page-col h1{

font-weight:200;
color:black;
padding:30px 30px 0px 30px;

}


.services-us-home-page-col h5{

font-weight:400;
color:black;
padding:30px 30px 0px 30px;
cursor:pointer;
}


.services-us-home-page-col h5:hover{


color:red;

}

.services-us-home-page-col p {

font-size:110%;
font-weight:400;
color:black;
padding:30px;

}

.examples-welcome-section  {


background-color:white;
padding:30px;


}

.examples-welcome-section h3 {


font-weight:500;
color:#003366;
padding:10px 10px 0px 10px;


}


.specialist-overview-area-section h1{

font-size:200%;

color:black;
padding:30px 30px 0px 30px;

}


.specialist-overview-area-section h2{

font-size:200%;

color:black;
padding:30px 30px 0px 30px;

}

.specialist-overview-area-section h6{

font-size:200%;
font-weight:bold;
color:black;
padding:30px 30px 0px 30px;

}
.specialist-overview-area-section p{

font-size:100%;

color:black;
padding:30px 30px 5px 30px;

}


.specialist-overview-area-section{

background-color:white;
padding:30px 30px 30px 30px;

}

.contact-area-section{


background-color:white;
padding:30px 30px 30px 30px;
}


.contact-area-section h1{


color:black;
padding:30px 30px 0px 30px;

}


.contact-area-section h3{

font-size:100%;

color:black;


}

.contact-area-section h6{

font-size:200%;
font-weight:100!important;
color:black;
padding:30px 30px 0px 30px;

}

.contact-area-section form {

background-color: #f0f0f1;padding:30px; border-radius:5px;

}

.contact-us-button{


  float:right;

  background-color: #f0f0f1 !important;

  border:white thin solid;

  color:black!important;


}

.mySlides-Design {

text-align:center;

}
.blog-area-section{



background-color:white;
padding:30px 30px 30px 30px;

}
.text-overlay{


font-size:400%;


font-weight:400;

  position:absolute;

  z-index:1;

  color:#003366;

  margin-top:200px;

  margin-left:120px;

border:white thick solid;

padding:30px;
}

.text-overlay span{


  color:white;



}


.mySlides-main{


background-image:url("../images/10131252-Business-group-showing-ethnic-diversity-in-a-meeting-Stock-Photo.jpg"); background-repeat: no-repeat;background-size:cover;

height:400px!important;


}

.logo_link{

font-size:400%;


font-weight:200;

color:#003366;

cursor:pointer;


}

.active-menu {

  color:red!important;
}


.active-footer-menu {

  color:red!important;
}



header{ position:fixed; width: 100%; padding-left:40px; height: auto; background: #FFFFFF; color: #fff; font-family: 'PT Sans', sans-serif; 
  transition: all 0.4s ease;font-size:13px;font-weight:200;
  z-index:99; }

header:hover{opacity:1.0; filter: alpha(opacity=1); }

/*background: #EE632C;  header.sticky { height: 100px; background: #efc47D; padding-left: 20px; z-index:99; opacity: 0.6; filter: alpha(opacity=60); }

  line-height: 48px;
  height: 48px;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
*/

.sticky_logo {  height: 25px; }

header.sticky { 

   z-index:99; 
   transition: all 0.4s ease;

  font-size: 11px;


  background: white;
  text-align: left;
  padding-left: 20px;
}



ul.how-it-works {list-style-type:decimal;}


.topnav{  list-style-type: none; color:white; margin: 0; padding: 0; overflow: hidden; text-align:left; line-height: 100% !important;}


ul.topnav li.icon {display: none;margin-top:20px;}
/*ul.topnav li:first-child{ width:60%; text-align: left !important; }*/
ul.topnav li:first-child{ width:55%;text-align: left !important;}

ul.topnav li { display: inline-block;  vertical-align:middle; }

.topnav li a { display: inline-block; color:#666666;  font-weight:50; text-align: center; padding: 14px 16px; text-decoration: none;cursor:pointer; }


.topnav li:first-child a:hover {

    background-color: none !important;

}

.topnav a:hover {

    color:red;

}

li{

  line-height:40px;
}


.mySlides-main{

  height:400px;
}
footer {


  padding:20px;
  color:#e8e5e5;
  background-color:#003366;
  border-top:red solid thick;
  border-bottom:black solid thin;
  width:100%;
}


footer .col-sm-3 {



  /*border-right:white solid thin;*/
  height:100%;
 
 
}


footer ul {


list-style-type:none;
padding:0px;



}

footer ul li a {


list-style-type:none;
color:white;
font-weight:300;


}


footer a:hover{



color:red;
text-decoration:none;


}


footer p {


font-size:100%;


}

footer .text {

  color:white;

}



.footer_title {
padding-left:20px;
padding-bottom:20px;
border-bottom:black solid thin;

}


#send_button {

background-color:black;
color:white;
border-radius: 0;
border-color:black;

}


footer input[type=text],footer input[type=email] {


background-color:white;
border-color:wite;
color:#003366;
border-radius: 0;


}



#message {  

background-color:white;

color:#e8e5e5;
border-radius: 0;

}




input:focus {

    border: blue medium solid;

}

@media screen and (max-width:1080px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  .text-overlay{

    font-size:150%;

      margin-top:200px;

     margin-left:20px;


  }


  .about-us-button{

  float:right;

  background-color: #3399ff !important;

  border:white thin solid;

  color:white!important;


}


.about-us-home-page-col {

background-color:#3399ff;
padding:30px;

}


.about-us-home-page-col h1{

font-weight:300;
color:white;
padding:30px 30px 0px 30px;

}


.about-us-home-page-col p{

font-size:100%;
font-weight:300;
color:white;
padding:30px;

}


.services-us-home-page-col{

background-color:#f0f0f1;
padding:30px;

}

.services-us-home-page-col h1{

font-weight:200;
color:black;
padding:30px 30px 0px 30px;

}


.services-us-home-page-col h4{

font-weight:400;
color:black;
padding:30px 30px 0px 30px;
cursor:pointer;
}


.services-us-home-page-col h4:hover{


color:red;

}

.services-us-home-page-col p {

font-size:110%;
font-weight:400;
color:black;
padding:30px;

}

.examples-welcome-section  {


background-color:white;
padding:30px;


}

.examples-welcome-section h3 {


font-weight:500;
color:#003366;
padding:10px 10px 0px 10px;


}

.examples-welcome-section img {


cursor:pointer!important;

}


.specialist-overview-area-section h1{

font-size:200%;
font-weight:300;
color:black;
padding:30px 30px 0px 30px;

}


.specialist-overview-area-section h2{

font-size:200%;
font-weight:300;
color:black;
padding:30px 30px 0px 30px;

}


.specialist-overview-area-section p{

font-size:100%;
font-weight:300;
color:black;
padding:30px 30px 5px 30px;

}


.specialist-overview-area-section{

background-color:white;
padding:30px 30px 30px 30px;

}

.contact-area-section{


background-color:white;
padding:30px 30px 30px 30px;
}


.contact-area-section h1{

font-size:200%;
font-weight:300;
color:black;
padding:30px 30px 0px 30px;

}


.contact-area-section h3{

font-size:200%;
font-weight:300;
color:black;


}




@media screen and (max-width:1080px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}


